[workspace]
resolver = "3"
members = ["injectum_async_procedure_calls","injectum_classic", "injectum_classic_remote", "injectum_early_bird", "injectum_hollowing", "injectum_thread_hijacking"]

[workspace.dependencies]
windows = { version = "0.62.2", features = ["Win32_System_SystemInformation", "Win32_System_SystemServices", "Wdk_System_Threading", "Win32_System_Kernel", "Win32_Security", "Win32_System_Diagnostics_Debug", "Win32_System_Memory", "Win32_System_Threading", "Win32_System_Diagnostics_ToolHelp"] }

[workspace.package]
license = "MIT"
